Repository LEAP-2024-1C/salon.mn, pull requests merged in 2024-10, with the labels that each got.

#30 fix bug on artist detatil page
  client_frontend/src/components/about/bestArtist.tsx
  client_frontend/src/components/about/historybyYear.tsx
Labels: bug

#40 20 client front end home page
  client_frontend/public/images/home.png
  client_frontend/public/images/logo.png
  client_frontend/public/images/logo2.png
  client_frontend/public/images/testmodel1.png
  client_frontend/public/images/testmodel2.png
  client_frontend/src/app/artists/page.tsx
  client_frontend/src/app/globals.css
  client_frontend/src/app/layout.tsx
  client_frontend/src/app/page.tsx
  client_frontend/src/components/layout/footer.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/src/components/layout/phoneMenu.tsx
Labels: page

#41 detail zaswar
  client_frontend/package-lock.json
  client_frontend/src/app/artistDetail/page.tsx
  client_frontend/src/components/about/bestArtist.tsx
Labels: enhancement

#45 modal hiiv
  backend/src/index.ts
  client_frontend/src/app/artist-detail/page.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/src/components/layout/phoneMenu.tsx
  client_frontend/src/components/signin/optModal.tsx
  client_frontend/src/components/signin/signinModal.tsx
Labels: page

#46 backend deer category product hiilee
  backend/.env
  backend/src/.env
  backend/src/config/db.ts
  backend/src/controller/category-controller.ts
  backend/src/controller/product-controller.ts
  backend/src/index.ts
  backend/src/models/category.model.ts
  backend/src/models/product.model.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/product-route.ts
Labels: backend

#47 add twilio
  backend/.gitignore
  backend/src/utils/sendPhoneNum.ts
Labels: backend

#49 env file ustgaw
  backend/.env
Labels: backend

#54 backend deer auth nemew, adminii auth ustgaw
  admin/auth.config.ts
  admin/auth.ts
  admin/middleware.ts
  backend/src/controller/auth-controller.ts
  backend/src/index.ts
  backend/src/middlewares/auth.ts
  backend/src/models/user.model.ts
  backend/src/routes/auth-router.ts
  backend/src/utils/jwt.ts
  backend/src/utils/sendPhoneNum.ts
Labels: backend

#56 verify otp function
  backend/src/controller/auth-controller.ts
  backend/src/routes/auth-router.ts
Labels: backend

#58 admin frond zasaw
  admin/app/layout.tsx
  admin/components/layout/user-nav.tsx
Labels: bug

#62 client product haruulah
  backend/src/controller/product-controller.ts
  client_frontend/src/app/artists/page.tsx
  client_frontend/src/app/page.tsx
  client_frontend/src/app/products/page.tsx
  client_frontend/src/components/cards/employees-card.tsx
  client_frontend/src/components/cards/product-card.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/src/lib/utils.ts
  client_frontend/src/utils/apiHome.ts
  client_frontend/src/utils/interface.ts
Labels: page

#66 signin frontoi holbow
  backend/src/controller/auth-controller.ts
  client_frontend/package-lock.json
  client_frontend/package.json
  client_frontend/src/app/layout.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/src/components/layout/phoneMenu.tsx
  client_frontend/src/components/signin/optModal.tsx
  client_frontend/src/components/signin/signinModal.tsx
  client_frontend/src/context/user-booking-context.tsx
Labels: frontend

#65 53 book crud in backend
  backend/src/controller/booking-controller.ts
  backend/src/controller/cart-controller.ts
  backend/src/models/cart.model.ts
  backend/src/routes/cart-route.ts
Labels: backend

#70 69 artist deteal pagenii tsag zahialah zasah
  client_frontend/src/app/artist-detail/page.tsx
  client_frontend/src/app/book-signin/page.tsx
  client_frontend/src/app/page.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/tsconfig.json
Labels: frontend

#73 user model
  backend/src/controller/auth-controller.ts
  backend/src/middlewares/auth.ts
  backend/src/models/user.model.ts
  backend/src/routes/auth-router.ts
  backend/src/routes/cart-route.ts
  client_frontend/src/app/artist-detail/page.tsx
  client_frontend/src/app/profile/page.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/src/components/layout/phoneMenu.tsx
  client_frontend/src/components/profile/orderhistory.tsx
  client_frontend/src/components/profile/profileinfo.tsx
  client_frontend/src/context/user-booking-context.tsx
Labels: backend, frontend

#77 employee fronttoi holbow
  backend/src/controller/auth-controller.ts
  backend/src/controller/employee-controller.ts
  backend/src/models/employees.model.ts
  backend/src/models/user.model.ts
  backend/src/routes/employee-route.ts
  client_frontend/next.config.mjs
  client_frontend/src/app/artists/[employeeID]/page.tsx
  client_frontend/src/app/artists/page.tsx
  client_frontend/src/app/layout.tsx
  client_frontend/src/components/about/comment.tsx
  client_frontend/src/components/cards/employees-card.tsx
  client_frontend/src/context/employee-context.tsx
  client_frontend/src/context/user-booking-context.tsx
Labels: backend, frontend

#79 bug zasaw
  client_frontend/next.config.mjs
  client_frontend/src/app/[employeeID]/page.tsx
  client_frontend/src/app/artists/page.tsx
Labels: bug

#83 upload photo
  backend/src/controller/employee-controller.ts
  client_frontend/package-lock.json
  client_frontend/package.json
  client_frontend/src/app/[employeeID]/page.tsx
  client_frontend/src/app/artists/page.tsx
  client_frontend/src/app/book-signin/page.tsx
  client_frontend/src/components/booking/selectTime.tsx
  client_frontend/src/components/cards/product-card.tsx
  client_frontend/src/components/layout/footer.tsx
  client_frontend/src/components/layout/header.tsx
  client_frontend/src/components/profile/orderhistory.tsx
  client_frontend/src/components/profile/profileinfo.tsx
  client_frontend/src/components/ui/calendar.tsx
  client_frontend/src/components/ui/chart.tsx
Labels: frontend

#84 53 book crud in backend
  backend/src/controller/booking-controller.ts
  backend/src/controller/cart-controller.ts
  backend/src/index.ts
  backend/src/models/booking.model.ts
  backend/src/models/service.ts
  backend/src/routes/booking-route.ts
  client_frontend/src/app/booknow/page.tsx
Labels: backend, frontend

#87 emp;oyee admin hiiy
  admin/app/context/employee-context.tsx
  admin/app/context/user-booking-context.tsx
  admin/app/dashboard/employee/[employeeId]/page.tsx
  admin/app/dashboard/employee/page.tsx
  admin/app/dashboard/product/[productId]/page.tsx
  admin/app/dashboard/product/page.tsx
  admin/app/dashboard/user/[userId]/page.tsx
  admin/app/layout.tsx
  admin/components/forms/employee-form.tsx
  admin/components/forms/product-form.tsx
  admin/components/layout/header.tsx
  admin/components/tables/employee-tables/cell-action.tsx
  admin/components/tables/employee-tables/client.tsx
  admin/components/tables/employee-tables/data-table.tsx
  admin/components/tables/user-tables/client.tsx
  admin/components/ui/data-table.tsx
  admin/constants/data.ts
  admin/next.config.mjs
  admin/package-lock.json
  admin/package.json
  client_frontend/src/app/booknow/page.tsx
Labels: frontend
