Repository LEAP-2024-1C/salon.mn, pull requests merged in 2024-11, with the labels that each got.

#91 85 service modal uusgeh
  backend/src/controller/service-controller.ts
  backend/src/index.ts
  backend/src/models/service.model.ts
  backend/src/routes/service-route.ts
  client_frontend/package-lock.json
  client_frontend/package.json
Labels: backend

#99 add barder card
  client_frontend/src/components/cards/barber-card.tsx
Labels: frontend

#100 93 employees frontoo backendteigee holboh
  admin/app/context/employee-context.tsx
  admin/app/dashboard/[empId]/page.tsx
  admin/app/dashboard/employees/[employeeId]/page.tsx
  admin/app/dashboard/employees/page.tsx
  admin/app/layout.tsx
  admin/components/forms/employee-form.tsx
  admin/components/modal/alert-modal.tsx
  admin/components/tables/user-tables/cell-action.tsx
  admin/components/tables/user-tables/client.tsx
  admin/components/tables/user-tables/data-table.tsx
  admin/components/ui/data-table.tsx
  admin/constants/data.ts
  admin/package-lock.json
  admin/package.json
  backend/src/controller/employee-controller.ts
  backend/src/models/employees.model.ts
Labels: frontend

#103 deploey
  admin/app/api/auth/[...nextauth]/route.ts
  admin/app/api/uploadthing/core.ts
  admin/app/api/uploadthing/route.ts
  admin/components/file-upload.tsx
  admin/components/forms/product-form.tsx
  admin/components/ui/data-table.tsx
  backend/build/config/db.js
  backend/build/controller/admin-controller.js
  backend/build/controller/auth-controller.js
  backend/build/controller/booking-controller.js
  backend/build/controller/cart-controller.js
  backend/build/controller/category-controller.js
  backend/build/controller/employee-controller.js
  backend/build/controller/product-controller.js
  backend/build/controller/service-controller.js
  backend/build/index.js
  backend/build/middlewares/auth.js
  backend/build/models/admin.model.js
  backend/build/models/booking.model.js
  backend/build/models/cart.model.js
  backend/build/models/category.model.js
  backend/build/models/employees.model.js
  backend/build/models/product.model.js
  backend/build/models/service.model.js
  backend/build/models/user.model.js
  backend/build/routes/adminRoutes.js
  backend/build/routes/auth-router.js
  backend/build/routes/booking-route.js
  backend/build/routes/cart-route.js
  backend/build/routes/categoryRoutes.js
  backend/build/routes/employee-route.js
  backend/build/routes/product-route.js
  backend/build/routes/service-route.js
  backend/build/utils/jwt.js
  backend/build/utils/sendPhoneNum.js
  backend/vercel.json
  client_frontend/src/components/cards/barber-card.tsx
Labels: enhancement

#105 admin deploy
  admin/app/layout.tsx
Labels: documentation

#107 backend deploy
  backend/build/controllers/admin-controller.js
  backend/build/controllers/auth-controller.js
  backend/build/controllers/booking-controller.js
  backend/build/controllers/cart-controller.js
  backend/build/controllers/category-controller.js
  backend/build/controllers/employee-controller.js
  backend/build/controllers/product-controller.js
  backend/build/controllers/service-controller.js
  backend/build/index.js
  backend/build/routes/adminRoutes.js
  backend/build/routes/auth-router.js
  backend/build/routes/booking-route.js
  backend/build/routes/cart-route.js
  backend/build/routes/categoryRoutes.js
  backend/build/routes/employee-route.js
  backend/build/routes/product-route.js
  backend/build/routes/service-route.js
  backend/src/controllers/admin-controller.ts
  backend/src/controllers/auth-controller.ts
  backend/src/controllers/booking-controller.ts
  backend/src/controllers/cart-controller.ts
  backend/src/controllers/category-controller.ts
  backend/src/controllers/employee-controller.ts
  backend/src/controllers/product-controller.ts
  backend/src/controllers/service-controller.ts
  backend/src/index.ts
  backend/src/routes/adminRoutes.ts
  backend/src/routes/auth-router.ts
  backend/src/routes/booking-route.ts
  backend/src/routes/cart-route.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/employee-route.ts
  backend/src/routes/product-route.ts
  backend/src/routes/service-route.ts
Labels: backend

#108 employee update delete
  admin/app/context/employee-context.tsx
  admin/app/dashboard/employees/page.tsx
  admin/components/forms/employee-form.tsx
  admin/components/tables/employee-tables/cell-action.tsx
  admin/components/tables/employee-tables/client.tsx
  admin/components/tables/employee-tables/data-table.tsx
  backend/src/controllers/employee-controller.ts
  backend/src/routes/employee-route.ts
Labels: backend, frontend

#110 109 product admin deer crud
  admin/app/context/employee-context.tsx
  admin/app/context/product-context.tsx
  admin/app/dashboard/[empId]/page.tsx
  admin/app/dashboard/product/[productId]/page.tsx
  admin/app/dashboard/product/page.tsx
  admin/app/layout.tsx
  admin/components/dashboard-nav.tsx
  admin/components/forms/employee-form.tsx
  admin/components/forms/product-form.tsx
  admin/components/tables/employee-tables/alert-modal.tsx
  admin/components/tables/employee-tables/cell-action.tsx
  admin/components/tables/employee-tables/client.tsx
  admin/components/tables/employee-tables/employee-data-table.tsx
  admin/components/tables/product-tables/cell-action.tsx
  admin/components/tables/product-tables/product-alert-modal.tsx
  admin/components/tables/product-tables/product-table.tsx
  admin/constants/data.ts
  backend/src/controllers/product-controller.ts
  backend/src/models/product.model.ts
  backend/src/routes/product-route.ts
Labels: backend, frontend

#115 add build folder in gitignore file
  backend/.gitignore
  backend/build/config/db.js
  backend/build/controller/admin-controller.js
  backend/build/controller/auth-controller.js
  backend/build/controller/booking-controller.js
  backend/build/controller/cart-controller.js
  backend/build/controller/category-controller.js
  backend/build/controller/employee-controller.js
  backend/build/controller/product-controller.js
  backend/build/controller/service-controller.js
  backend/build/controllers/admin-controller.js
  backend/build/controllers/auth-controller.js
  backend/build/controllers/booking-controller.js
  backend/build/controllers/cart-controller.js
  backend/build/controllers/category-controller.js
  backend/build/controllers/employee-controller.js
  backend/build/controllers/product-controller.js
  backend/build/controllers/service-controller.js
  backend/build/index.js
  backend/build/middlewares/auth.js
  backend/build/models/admin.model.js
  backend/build/models/booking.model.js
  backend/build/models/cart.model.js
  backend/build/models/category.model.js
  backend/build/models/employees.model.js
  backend/build/models/product.model.js
  backend/build/models/service.model.js
  backend/build/models/user.model.js
  backend/build/routes/adminRoutes.js
  backend/build/routes/auth-router.js
  backend/build/routes/booking-route.js
  backend/build/routes/cart-route.js
  backend/build/routes/categoryRoutes.js
  backend/build/routes/employee-route.js
  backend/build/routes/product-route.js
  backend/build/routes/service-route.js
  backend/build/utils/jwt.js
  backend/build/utils/sendPhoneNum.js
Labels: backend

#116 bug
  admin/app/layout.tsx
Labels: bug

#120 bug admin's employee and product update
  admin/components/tables/employee-tables/employee-form.tsx
  admin/components/tables/product-tables/product-form.tsx
  admin/components/tables/service-tables/service-form.tsx
Labels: bug

#121 layout bg oorchilloo
  client_frontend/src/app/layout.tsx
  client_frontend/src/app/ourService/page.tsx
  client_frontend/src/app/products/page.tsx
  client_frontend/src/components/cards/product-card.tsx
  client_frontend/src/components/layout/footer.tsx
  client_frontend/src/components/layout/phoneMenu.tsx
Labels: frontend

#125 get employee bug
  admin/app/context/admin-context.tsx
  admin/app/context/product-context.tsx
  admin/app/context/service-context.tsx
  admin/app/context/user-booking-context.tsx
  admin/app/layout.tsx
  admin/components/forms/user-auth-form.tsx
  admin/components/forms/user-profile-stepper/create-profile.tsx
  admin/components/handmade/signin.tsx
  admin/components/tables/employee-tables/cell-action.tsx
  admin/components/tables/employee-tables/employee-form.tsx
  client_frontend/src/app/[employeeID]/page.tsx
  client_frontend/src/components/cards/product-card.tsx
  client_frontend/src/context/employee-context.tsx
  package-lock.json
Labels: bug

#131 booking time harah
  admin/app/context/employee-context.tsx
  admin/app/dashboard/booking/[id]/page.tsx
  admin/app/dashboard/booking/page.tsx
  admin/app/date/page.tsx
  admin/components/tables/tImeManagment/modal.tsx
  admin/constants/data.ts
  backend/src/controllers/booking-controller.ts
  backend/src/controllers/employee-controller.ts
  backend/src/models/booking.model.ts
Labels: backend, frontend

#132 about page header footer yznlaw
  .DS_Store
  client_frontend/public/images/home.jpg
  client_frontend/public/images/home.png
  client_frontend/src/app/page.tsx
  client_frontend/src/components/about/bestArtist.tsx
  client_frontend/src/components/about/comment.tsx
  client_frontend/src/components/about/historybyYear.tsx
  client_frontend/src/components/layout/footer.tsx
  client_frontend/src/components/layout/header.tsx
Labels: frontend

#135 front
  client_frontend/src/app/ourService/page.tsx
  client_frontend/src/app/page.tsx
  client_frontend/src/components/layout/header.tsx
Labels: frontend

#138 admin deer booking time harah
  admin/app/context/employee-context.tsx
  admin/app/dashboard/booking/page.tsx
  admin/app/dashboard/time-table/page.tsx
  admin/app/date/page.tsx
  admin/components/forms/user-profile-stepper/create-profile.tsx
  admin/components/tables/product-tables/cell-action.tsx
  backend/src/controllers/booking-controller.ts
  client_frontend/src/app/booknow/page.tsx
  client_frontend/src/components/layout/header.tsx
Labels: backend, frontend

#141 bug service
  admin/app/dashboard/service/page.tsx
Labels: frontend

#144 service backend avav
  client_frontend/src/app/about/page.tsx
  client_frontend/src/app/ourService/page.tsx
Labels: frontend

#146 sub cat nemew
  admin/app/context/employee-context.tsx
  admin/app/context/service-context.tsx
  admin/app/dashboard/booking/[id]/page.tsx
  admin/app/dashboard/booking/page.tsx
  admin/app/dashboard/category/[categoryID]/page.tsx
  admin/app/dashboard/category/page.tsx
  admin/components/tables/category-table/category-alert-modal.tsx
  admin/components/tables/category-table/category-form.tsx
  admin/components/tables/category-table/category-table.tsx
  admin/components/tables/category-table/cell-action.tsx
  admin/components/tables/employee-tables/employee-form.tsx
  admin/components/tables/tImeManagment/unAvaibleModal.tsx
  admin/constants/data.ts
  admin/package-lock.json
  admin/package.json
  backend/src/controllers/category-controller.ts
  backend/src/controllers/employee-controller.ts
  backend/src/models/sub-category.model.ts
  backend/src/routes/categoryRoutes.ts
  backend/src/routes/employee-route.ts
  client_frontend/src/app/ourService/page.tsx
Labels: backend, frontend

#148 create sub busad modal zasah
  admin/app/context/employee-context.tsx
  admin/app/context/service-context.tsx
  admin/components/tables/employee-tables/employee-data-table.tsx
  admin/components/tables/employee-tables/employee-form.tsx
  admin/components/tables/service-tables/service-form.tsx
  admin/components/tables/service-tables/service-table.tsx
  backend/src/controllers/employee-controller.ts
  backend/src/controllers/service-controller.ts
  backend/src/models/employees.model.ts
  backend/src/models/service.model.ts
Labels: backend, frontend

#150 sub cat bug zasaw
  admin/components/tables/employee-tables/employee-form.tsx
  admin/components/tables/service-tables/service-form.tsx
Labels: frontend

#152 service nemeed client zaslaa
  .DS_Store
  admin/components/tables/service-tables/service-table.tsx
  client_frontend/public/images/employ1.png
  client_frontend/public/images/employ2.png
  client_frontend/public/images/employ3.png
  client_frontend/public/images/home.jpg
  client_frontend/public/images/home.png
  client_frontend/src/app/page.tsx
  client_frontend/src/components/about/bestArtist.tsx
  client_frontend/src/components/about/historybyYear.tsx
Labels: frontend

#155 bug 11.8
  client_frontend/src/app/page.tsx
Labels: bug

#157 env zaslaa
  backend/package-lock.json
  backend/src/middlewares/auth.ts
  backend/src/utils/jwt.ts
Labels: frontend

#172 cash huudas nemew
  admin/app/context/employee-context.tsx
  admin/app/dashboard/booking/page.tsx
  admin/app/dashboard/cash/[cashID]/page.tsx
  admin/app/dashboard/cash/page.tsx
  admin/components/tables/cash/booking-cart.tsx
  admin/components/tables/cash/cash-edit.tsx
  admin/components/tables/time-tables/time-table.tsx
  admin/constants/data.ts
  admin/package-lock.json
  admin/package.json
Labels: frontend

#182 add comment
  admin/app/artist/page.tsx
  admin/app/context/employee-context.tsx
  admin/components/tables/cash/booking-cart.tsx
  admin/components/tables/cash/cell-action.tsx
  admin/components/tables/employee-tables/employee-form.tsx
  admin/constants/data.ts
  backend/src/controllers/employee-controller.ts
  backend/src/models/employees.model.ts
  backend/src/routes/employee-route.ts
  client_frontend/src/app/[employeeID]/page.tsx
  client_frontend/src/app/artists/page.tsx
  client_frontend/src/app/layout.tsx
  client_frontend/src/components/about/comment.tsx
  client_frontend/src/components/about/createComment.tsx
  client_frontend/src/context/employee-context.tsx
  client_frontend/src/context/service-context.tsx
Labels: backend, frontend
